<h1>ユーザー登録</h1>


<% if @user.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(@user.errors.count, "件") %> エラーがあります</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!--↑エラーメッセージ文章-->
<%= form_with model: @user, url: users_path do |f| %>
  <div>
    <%= f.label :user_name, "ユーザー名" %><br>
    <%= f.text_field :user_name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "パスワード確認" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= link_to "ログインはこちら", new_session_path %>
