<h1><%= @novel.title %></h1>


<p>
  投稿者:
  <% if @novel.user.present? %>
    <%= @novel.user.user_name %>
  <% else %>
    <%= @novel.author_name %>
  <% end %>
</p>
<div>
  <%= simple_format(@novel.body) %>
</div>

<%= link_to "一覧に戻る", novels_path %>
