 <!-- 🌹 ヘッダー：拡張可能なナビバー -->
  <nav class="navbar navbar-expand-lg navbar-dark  shadow-sm" style="background-color: #123458;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Novel site name</a>
      <!-- モバイル用トグルボタン -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navMenu"
        aria-controls="navMenu"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item">
          <%= link_to new_novel_path, class: "nav-link" do %>
            <i class="bi bi-journal-plus"></i> 新規投稿
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link" do %>
            <i class="bi bi-bookmark-fill"></i> ブックマーク
          <% end %>
        </li>
          <!-- ドロップダウン -->
          
  <!--  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list"></i> マイメニュー
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/about">このサイトについて</a></li>
      <li><a class="dropdown-item" href="/contact">お問い合わせ</a></li>
    </ul>
  </li> -->
  <% if current_user %>
    <!-- ログイン中 -->
    <li class="nav-item">
      <%= link_to user_path(current_user), class: "nav-link" do %>
        <i class="bi bi-person-circle"></i> マイページ
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to logout_path, method: :delete, class: "nav-link" do %>
        <i class="bi bi-box-arrow-right"></i> ログアウト
      <% end %>
    </li>
  <% else %>
    <!-- 未ログイン -->
    <li class="nav-item">
      <%= link_to new_user_path, class: "nav-link" do %>
        <i class="bi bi-person-plus"></i> ユーザー登録
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to login_path, class: "nav-link" do %>
        <i class="bi bi-box-arrow-in-right"></i> ログイン
      <% end %>
    </li>
  <% end %>
          <li class="nav-item">
            <form class="d-flex" action="/search" method="get">
              <input
                class="form-control form-control-sm me-2"
                type="search"
                name="q"
                placeholder="検索…"
                aria-label="Search">
              <button class="btn btn-sm btn-light" type="submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>